html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    /* takes remaining space */
    overflow-y: auto;
    /* ONLY this scrolls */
    background-color: ghostwhite;
}

main h1 {
    color: royalblue;
    margin-top: 0.1em;
}

hr {
    border: none;
    border-top: 2px solid darkslategrey;
    opacity: 1;
    margin: 0;
}

.quiz-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: center;
    width: 450px;
    margin: 10px auto;
}

.high-score {
    color: green !important;
}

.low-score {
    color: red !important;
}

.wrong-answer {
    background-color: #ff6666 !important;
}

.right-answer {
    background-color: #a0e8a0 !important;
}